{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container py-4">
    <h1 align="center">Dashboard</h1>
    <br>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Total Appointments</strong> - {{ totalApp }}
        </li>
        <li class="list-group-item">
            <strong>Appointments Done</strong> - {{ compApp }}
        </li>
        <li class="list-group-item">
            <strong>Upcoming Appointments</strong> - {{ pendApp }}
        </li>  
    </ul>
</div>
<div class="row">
    <div class="col-md-5">
        <h3>Appointments -</h3>
        <div class="card card-body">
            <a href="{% url 'appointment:appointment-create' %}"><button class="btn btn-primary">Create Appointment</button></a>
            
            <table class="table table-striped">
                <thead>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Status</th>
                </thead>
                {% for obj in app_list %}
                <tr>
                    <td>{{ obj.date }}</td>
                    <td>{{ obj.time }}</td>
                    <td>{{ obj.doctor }}</td>
                    <td>{{ obj.patient }}</td>
                    <td>{{ obj.status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    <div class="col-md-7">
        <h3>Last 5 Patients -</h3>
        <div class="card card-body">
            <a href="{% url 'user_profile:profile-create' %}"><button class="btn btn-primary">Create Patient</button></a>
            <br>
            <input type="text" id="searchInput" placeholder="Search by Name">
            <table class="table table-striped" id="patientTable">
                <thead> 
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Update</th>
                    <th>Remove</th>
                </thead>
                {% for obj in pat_list %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.phone }}</td>
                    <td>{{ obj.email }}</td>
                    <td>{{ obj.gender }}</td>
                    <td>{{ obj.age }}</td>
                    <td><a href="{% url 'user_profile:profile-pk' pk=obj.user.id %}"><button class="btn btn-warning">Update</button></a></td>
                    <td><a href="{% url 'user_profile:profile-delete' pk=obj.user.id %}"><button class="btn btn-danger">Delete</button></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<script>
    // Get the input field and table
    var input = document.getElementById("searchInput");
    var table = document.getElementById("patientTable");
    var rows = table.getElementsByTagName("tr");

    // Add an event listener to the input field
    input.addEventListener("keyup", function () {
        var filter = input.value.toLowerCase();
        
        // Loop through all table rows, hide those that don't match the search query
        for (var i = 1; i < rows.length; i++) { // Start from 1 to skip the table header row
            var nameColumn = rows[i].getElementsByTagName("td")[0]; // Assuming name is in the first column
            if (nameColumn) {
                var name = nameColumn.textContent || nameColumn.innerText;
                if (name.toLowerCase().indexOf(filter) > -1) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    });
</script>


{% endblock %}