{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-4">
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Contact Us</h2>
            <p>
                If you have any questions or need assistance, please feel free to get in touch with us. Our team is here to help you.
            </p>
            <ul>
                <li><strong>Address:</strong> 123 Hospital Street, Savar, Dhaka, 1342</li>
                <li><strong>Phone:</strong> (123) 456-7890</li>
                <li><strong>Email:</strong> info@docswiftpro.com</li>
            </ul>
            <img width="60%" src="{% static 'images/contact.jpg' %}" alt="contact img">
        </div>
        <div class="col-md-6">
            <h2>Contact Form</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
