{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}
<div class="container py-4">
    <h1>Sign Up</h1>
    <div class="row">
        <div class="col col-12 col-md-6">
            <form method="POST">
                {% csrf_token %}
                <div class="col form-group">
                    <label>First Name</label>
                    <br/>
                    <!-- {{form.first_name}} -->
                    <input type="text" class="form-control" placeholder="First Name" name="first_name" >
                  </div>
                <br>
                <div class="col form-group">
                    <label>Last Name</label>
                    <br/>
                    <!-- {{form.last_name}} -->
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name" >
                  </div>
                <br>
                <div class="col form-group">
                    <label>User Name</label>
                    <br/>
                    <!-- {{form.username}} -->
                    <input type="text" class="form-control" placeholder="User Name" name="username" >
                  </div>
                <br>
                <div class="col form-group">
                    <label>Email</label>
                    <br/>
                    <!-- {{form.email}} -->
                    <input type="email" class="form-control" placeholder="Email" name="email" >
                  </div>
                <br>
                <div class="col form-group">
                    <label>Password</label>
                    <br/>
                    <!-- {{form.password1}} -->
                    <input type="password" class="form-control" placeholder="Password" name="password1" >
                  </div>
                <br>
                <div class="col form-group">
                    <label>Confirm Password</label>
                    <br/>
                    <!-- {{form.password2}} -->
                    <input type="password" class="form-control" placeholder="Confirm Password" name="password2" >
                  </div>
                <br>
                <div class="col form-group">
                    <label>User Type</label>
                    <br/>
                    {{form.user_type}}
                  </div>
                <br>
                <input type="submit" value="Sign Up" class="btn btn-primary">
            </form>
        </div>
        <div class="col col-12 col-md-6">
            <img width="100%" src="../../../static/images/signup.jpg" alt="signup page pic">
        </div>
    </div>
</div>
{% endblock %}
